<p>
  <%= @post['content']%>
  <br/>
  Add at <%= @post['created_at'] %>
  <br />
</p>

<br/>

<h4>Comments</h4>
<form action="/details/<%= @post['id']%>" method="POST" role="form">
  <textarea class="form-control" rows="6" placeholder="Type comment text here" name="content"></textarea>
  <br/>
  <button type="submit" class="btn btn-primary">Add Comment</button>
</form>