<h1>Add new posts</h1>
<form action="new_post" method="POST" role="form">
  <textarea class="form-control" rows="6" placeholder="Type post text here" name="content"></textarea>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>